<for|name, loopIndex, loopAll| of=Object.keys({
    foo: "low",
    bar: "high"
})>
    $ var value = {
        foo: "low",
        bar: "high"
    }[name];
    ${loopIndex}) [${name}=${value}]
</for>