class {}

<div class="modal-dialog">
    <div class="modal-content">
        <if(typeof input.body === "string")>${input.body}</if>
        <else>
            <${input.body}/>
        </else>
    </div>
</div>