$ {
    out.global.name = 'Frank';
    out.global.serializedGlobals = {
        name: true
    };
}

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body
        div id="testsTarget"
        <app/>
        init-components immediate
