<div w-bind>
	<input w-onclick=(false && 'handleButtonClick') w-id="inputWithoutHandler" type="button">
	<input w-onclick=(true && 'handleButtonClick') w-id="inputWithHandler" type="button">
	<input w-onclick='handleButtonClick' w-id="inputWithLiteralHandler" type="button">
</div>