class {
    onInput(input) {
        this.state = {
            nameNull: null,
            nameUndefined: undefined
        }
    }
}

<div>
    <span.null>${input.nameNull}</span>
    <span.undefined>${state.nameUndefined}</span>
</div>