$ {
    var rootClass=input.rootClass,
         colors=input.colors,
         message=input.message;
}

<div class="hello-world ${rootClass}">
    ${message}
</div>

<ul if(colors && colors.length)>
    <li class="color" for(color in colors)>
        ${color}
    </li>
</ul>
<div else>
    No colors!
</div>