<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        <app-button-split>Test Button</app-button-split>
        <app-button-split-export-class>Test Button</app-button-split-export-class>
        <component-only/>

        init-components immediate
