class {
    handleColorMouseOver(color) {
        this.mouseOverColor = color;
    }

    handleColorMouseOut(color) {
        this.mouseOutColor = color;
    }
}

<div>
    <ul>
        <for|color| of=input.colors>
            <li
                onMouseOver("handleColorMouseOver", color)
                onMouseOut("handleColorMouseOut", color)>
                ${color}
            </li>
        </for>
    </ul>
</div>