<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        app-foo
        app-bar

        script
            ---
            // window.fooComponent should not exist yet, but's store that in a variable to verify
            window.beforeInitComponentsFooComponent = window.fooComponent;
            window.beforeInitComponentsBarComponent = window.barComponent;
            ---

        init-components
