<div class=["app-stateful-rerender", state.className]>
    Hello ${state.name}! You have ${state.count} new messages.
    <ul>
        <li>
            foo: ${state.foo}
        </li>
        <li>
            hello: ${state.hello}
        </li>
    </ul>
</div>