---
${"BEGIN  this whitespace   should be retained   END"}

test <!-- text should be normalized to one space -->
${"hello"}

Long paragraph of text

should   <!-- This whitespace should be normalized -->  retain spacing between lines.

<ul>
    <!-- whitespace between elements should be removed -->
    <li>One</li>
    <!-- whitespace between elements should be removed -->
    <li>Two</li>
    <!-- whitespace between elements should be removed -->
</ul>
<a href="Test">
    Hello World!
</a>

<pre>
   begin <!-- this whitespace should not be normalized -->     end
</pre>

<div marko-preserve-whitespace>
   begin <!-- this whitespace should not be normalized -->     end
</div>

<div marko-preserve-whitespace>
   begin <!-- this whitespace should not be normalized -->     end
</div>
<if(true)>begin <!-- this whitespace should be preserved -->end</if>
---