<div style:no-update class:no-update>
    <a no-update:href="http://www.ebay.com">
        eBay
    </a>
    <span ref="hello">Hello ${state.name}!</span>
    <span ref="hello2" class:no-update="foo">Hello ${state.name}!</span>
</div>