<div w-bind w-preserve-attrs="style,class">
    <a href="http://www.ebay.com" w-preserve-attrs="href">
        eBay
    </a>
    <span ref="hello">Hello ${data.name}!</span>
    <span ref="hello2" w-preserve-attrs="class" class="foo">Hello ${data.name}!</span>
</div>