<var tabs=data.tabs/>

<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="${tab.liClass}" for(tab in tabs)>
            <a href="#${tab.id}" data-toggle="tab">
                ${tab.title}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="${tab.id}" class="${tab.divClass}" for(tab in tabs)>
            <invoke tab.renderBody(out) if(tab.renderBody) />
        </div>
    </div>
</div>