$ var tabs=input.tabs;

<div class="tabs">
    <ul class="nav nav-tabs">
        <li class=tab.liClass for(tab in tabs)>
            <a href="#${tab.id}" data-toggle="tab">
                ${tab.title}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id=tab.id class=tab.divClass for(tab in tabs)>
            $ {
                if(tab.renderBody) {
                    tab.renderBody(out);
                }
            }
        </div>
    </div>
</div>
