<button
    class=[
        "app-button",
        state.className,
        "app-button-" + state.variant,
        "app-button-" + state.size
    ]
    onClick("handleClick")>
    <span>
        <if(typeof state.body === "string")>${state.body}</if>
        <else>
            <${state.body}/>
        </else>
    </span>
</button>