<div>
    <h1>Hello ${input.name}! You have ${input.count} new messages.</h1>
    <if(input.renderBody)>
        <p>
            <${input}/>
        </p>
    </if>
    <else>
        <p>No body!</p>
    </else>
</div>