<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Widgets Tests
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        app-foo
        app-bar

        init-widgets immediate

        script
            ---
            // window.fooWidget should, but's store that in a variable to verify
            window.afterInitWidgetsFooWidget = window.fooWidget;
            window.afterInitWidgetsBarWidget = window.barWidget;
            ---
