lasso-page dependencies=input.browserDependencies lasso=input.lasso

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Test
        lasso-head
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        lasso-body

        <a key="a"/>

        init-components immediate

        lasso-slot name="mocha-run"

        browser-refresh
