<test-nested-tags-tabs>
    <@tab title="Tab 1">Tab 1 content</@tab>
    <if(false)>
        <@tab title="Tab 2">Tab 2 content</@tab>
    </if>
    <@tab title="Tab 3">Tab 3 content</@tab>
</test-nested-tags-tabs>