class {
    onCreate() {
        this.state = { show: true };
    }
    hide() {
        this.state.show = false;
    }
}

<div>
    <if(state.show)>
        <label for:scoped="abc"/>
    </if>
    <input id:scoped="abc"/>
</div>