<div>
    <app-hello name="Frank" key="helloFrank"/>
    <app-hello-async name="Frank Async" key="helloFrankAsync"/>
    <app-hello name="John" key="helloJohn"/>
    <app-hello-async name="John Async" key="helloJohnAsync"/>
    <app-hello name="Jane" key="helloJane"/>
</div>