<div>
    <app-hello name="Frank" ref="helloFrank"/>
    <app-hello-async name="Frank Async" ref="helloFrankAsync"/>
    <app-hello name="John" ref="helloJohn"/>
    <app-hello-async name="John Async" ref="helloJohnAsync"/>
    <app-hello name="Jane" ref="helloJane"/>
</div>