<div>
    <app-hello name="Frank" ref="helloFrank"/>
    <app-async name="async1" ref="async1"/>
    <app-hello name="John" ref="helloJohn"/>
    <app-async name="async2" ref="async2"/>
    <app-hello name="Jane" ref="helloJane"/>
</div>