$ var showConditionalTab=input.showConditionalTab;

<test-tabs-new>
    <test-tab-new title="Tab 1">
        Tab 1 content
    </test-tab-new>

    <test-tab-new title="Tab 2">
        Tab 2 content
    </test-tab-new>

    <test-tab-new title="Tab 3" if(showConditionalTab)>
        Tab 3 content
    </test-tab-new>
</test-tabs-new>