<if test="data._widgetConfig">
    <div data-from-attribute="true" w-bind="./widget" w-config="data._widgetConfig">
    </div>
</if>
<else>
    <div data-from-attribute="false" w-bind="./widget">
    </div>
</else>
