<async-fragment if(true) data-provider=data.userProvider var="user">
    HELLO ${user.name}!
</async-fragment>
<async-fragment if(false) data-provider=data.userProvider var="user">
    HELLO ${user.name}!
</async-fragment>