<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widgets Test (1)</title>
</head>
<body>
    <test:foo>
        <test:bar>
            <test:foo/>
        </test:bar>
        <test:bar/>
    </test:foo>
    <test:bar/>

    <w:init-widgets/>    
</body>
</html>

