<var name="tag" value="data.tag"/>
<var name="content" value="data.content"/>
<var name="title" value="data.title"/>

<span title="$title" data-content="$content">
    <invoke function="tag.invokeBody()" if="tag.invokeBody"/>
</span>