/work
/build
/.idea/
/npm-debug.log
/node_modules
!/test/test-project/node_modules/marko-widgets
/*.sublime-workspace
*.orig
.DS_Store
coverage
*.actual.js
*.actual.html
*.marko.js
/test/karma/generated
/.cache
/test/client/karma/generated
/test/client/karma/.cache
/test/client/mocha-phantomjs/generated
/test/client/mocha-phantomjs/.cache
.cache