/work
/build
/.idea/
/npm-debug.log
/node_modules
/*.sublime-workspace
*.orig
.DS_Store
.vscode
coverage
.nvmrc
~*
/.cache
*.marko.js
*.marko.xml.js
/test/generated/
.nyc_output
yarn.lock
package-lock.json
*.swp
/dist/
/test-dist/
/test-generated/
