# minfied
*.min.js

# tests
*actual*
*expected*
input.*
__snapshots__

# generated
dist/
*.marko.js
*.html.js
*.xml.js
*.generated.js
.nyc_output
.cache/
coverage
.sizes.json
~*

# non internal modules
node_modules
!packages/marko/src/node_modules

# controlled by npm's formatter
package-lock.json
package.json

# controlled by lerna
CHANGELOG.md
lerna.json

# editor
.vscode
