# minfied
*.min.js

# tests
*actual*
*expected*
input.*

# generated
dist/
*.marko.js
*.html.js
*.xml.js
*.generated.js
.nyc_output
.cache/
coverage
~*

# controlled by npm's formatter
package-lock.json
package.json

# controlled by lerna
CHANGELOG.md
lerna.json