<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title -- test

  body
    let/count = 0
    input type="number" value:=count
    -- ${count}