<div class="app-stateful-reuse-components">
    <app-stateful-button size=state.buttonSize key="button1">${state.buttonSize}</app-stateful-button>
    <app-stateful-button size="large" key="button2">button2</app-stateful-button>
</div>