<!-- test/migrate/fixtures/w-id/template.marko -->

<marko-migration-flags legacyWidgetAttrsWithoutBind/>
<div key="a" id:scoped="a"/>
<div key="b" id:scoped="b"/>
<test key="c"/>
<${tag} key="d" id:scoped="d"/>