<select multiple>
    <option value="red">Red</option>
    <option value="green" selected=(data.isGreenSelected)>Green</option>
    <option value="blue" selected=(data.isBlueSelected)>Blue</option>
</select>