class {
    onCreate() {
        this.name = 'INITIAL';
        this.onInputCalls = [];
    }

    onInput(newInput) {
        this.onInputCalls.push({
            name: this.name
        })

        this.name = newInput.name;
    }
}

<div>
	Hello <span.name>${input.name}</span>!
</div>
