class {
    onInput(input) {
        this.state = {
            error: null
        };
    }

    submit() {
        var self = this;

        setTimeout(function() {
            self.state.error = 'FATAL ERROR';
        }, 50);
    }
}

<form on-submit('submit')>
    <p if(state.error)>
        FATAL ERROR
    </p>
</form>
