<script>
    module.exports = {
        onInput: function(input) {
            this.state = {
                value: input.value
            }
        }
    }
</script>
<div>
    <input type='text' value=state.value ref='input'/>
</div>
