<script>
    module.exports = {
        onInput: function(input) {
            this.state = {
                name: input.name
            };
        }
    };
</script>

<div.foo>
    <span>Hello ${state.name}!</span>
    <div.body><body-slot/></div>
</div>