<html-doctype value="HTML PUBLIC &quot;-//W3C//DTD HTML 4.01 Transitional//EN&quot; &quot;http://www.w3.org/TR/html4/loose.dtd&quot;"/>

<html lang="en-us" html-doctype="html">
    <head>
        <title>DOCTYPE Test</title>
    </head>
    <body></body>
</html>