---
BEFORE
<async-fragment data-provider=data.testDataProvider var="testData" client-reorder>
    <async-fragment-placeholder>
        Loading main...
    </async-fragment-placeholder>
    Hello ${testData.name}!
</async-fragment>
AFTER
<async-fragments/>
---