<var rootClass=data.rootClass
     colors=data.colors
     message=data.message />

<div class="hello-world ${rootClass}">
    ${message}
</div>

<ul if(notEmpty(colors))>
    <li class="color" for(color in colors)>
        ${color}
    </li>
</ul>
<div if(empty(colors))>
    No colors!
</div>