class {
    onInput(input) {
        this.input = null;

        return {
            name: input.name.toUpperCase()
        }
    }

    onMount() {
        var componentsLookup = window.components || (window.components = {});
        componentsLookup['onInput-assign-null-and-return'] = this;
    }
}

<div>
    Hello <span.name>${input.name}</span>!
</div>