class {
    onInput(input) {
        this.input = null;

        return {
            name: input.name.toUpperCase()
        }
    }

    onMount() {
        var widgetsLookup = window.widgets || (window.widgets = {});
        widgetsLookup['onInput-assign-null-and-return'] = this;
    }
}

<div>
    Hello <span.name>${input.name}</span>!
</div>