<input type="checkbox" checked=input.checked>

<button disabled>Button</button>

<select>
    <option value="${option.value}"
        selected=option.selected
        for(option in input.options)>

        ${option.value}

    </option>
</select>
