class {
    onCreate () {
        this.state = {
            count: 0
        }
    }
    onMount () {
        window.app = this;
    }
    increment () {
        this.state.count++;
    }
}

<include('./layout.marko')>
    <@body>
        <span.count>${state.count}</span>
    </@body>
</include>
