<div class="app-stateful-reuse-widgets">
    <app-stateful-button size=state.buttonSize ref="button1">${state.buttonSize}</app-stateful-button>
    <app-stateful-button size="large" ref="button2">button2</app-stateful-button>
</div>