<!-- test/migrate/fixtures/legacy-macro-syntax/template.marko -->

<macro|macroInput| name="test">
    $ var firstName = macroInput.firstName;
    $ var lastName = macroInput.lastName;
    <div>${firstName} ${lastName}</div>
</macro>
<test firstName="John" lastName="Smith"/>
<test firstName="John" lastName="Smith"/>
<macro|macroInput| name="test2">
    <div>
        <${macroInput}/>
    </div>
</macro>
<test2>Hello</test2>
