<div w-bind>
	<input onMouseMove(false && "handleMouseMove") ref="inputWithoutHandler" type="button">
	<input onMouseMove(true && 'handleMouseMove') ref="inputWithHandler" type="button">
	<input onMouseMove('handleMouseMove') ref="inputWithLiteralHandler" type="button">
</div>