<test-message>
    <@title>My title</@title>
    <@body>
        <if(false)>
            <if(false)>
                My body
            </if>
        </if>
    </@body>
</test-message>
<test-message>
    <@title>My title 2</@title>
    <@body>
        <if(true)>
            <if(true)>
                My body 2
            </if>
        </if>
    </@body>
</test-message>
<test-message>
    <@title>My title 3</@title>
    <@body>
        <if(true)>
            <if(false)>
                My body 3
            </if>
        </if>
    </@body>
</test-message>