<div w-bind>
	Hello ${data.name}!

	<app-stateful-lifecycle-events-nested w-id="nestedStateful" message-count=data.messageCount/>
	<app-stateful-lifecycle-events-nested name="foo" message-count=data.messageCount/>
</div>