class {}

<div>
    <div key="renderTarget">
        <span>This should disappear</span>
        <span>We'll add a nested UI component just to make sure it is destroyed.</span>
        <app-counter value=0 key="initialCounter"/>
    </div>
</div>