<div w-bind="./widget">
    <app-hello name="Frank" w-id="helloFrank"/>
    <app-async name="async1" w-id="async1"/>
    <app-hello name="John" w-id="helloJohn"/>
    <app-async name="async2" w-id="async2"/>
    <app-hello name="Jane" w-id="helloJane"/>
</div>