class  {
    onCreate() {
        this.state = {
            count: 0
        }
    }
}

<div.root key="root">
    <if(state.count === 0)>
        <foo key="a" count=state.count/>
        <bar key="b" count=state.count/>
        <foo key="c" count=state.count/>
    </if>
    <else>
        <foo key="a" count=state.count/>
        <foo key="b" count=state.count/>
    </else>
</div>
