<test-nested-tags-overlay header=input.header>
    <@body class="my-body">Body content</@body>
    <@footer class="my-footer">Footer content</@footer>
</test-nested-tags-overlay>
<test-nested-tags-overlay>
    <@body class="my-body">Body content 2</@body>
    <@footer class="my-footer">Footer content 2</@footer>
</test-nested-tags-overlay>