<div aria-describedby=(a && widget.id)/>
<div aria-describedby=(a && widget.elId('x'))/>
<div aria-describedby=(a && widget.anything())/>
<div aria-describedby=`${a} ${widget.id}`/>
<var widgetId=(a ? widget.id : widget.elId("b"))/>