<div class=["app-stateful-rerender", data.className] w-bind>
    Hello ${data.name}! You have ${data.count} new messages.
    <ul>
        <li>
            foo: ${data.foo}
        </li>
        <li>
            hello: ${data.hello}
        </li>
    </ul>
</div>