$ function setTimeoutThen(timeout) {
    return new Promise((resolve, reject) => {
        setTimeout(resolve, timeout);
    });
}
<html>
    <body>
        <await(setTimeoutThen(10)) name="inner">
            <@then|user|>
                <div.inner>
                    <await(setTimeoutThen(10)) name="inner-inner">
                        <@then|user|>
                            <div.inner-inner>
                                <hello name="inner-inner"/>
                            </div>
                        </@then>
                    </await>
                    <hello name="inner"/>
                </div>
            </@then>
        </await>
        <hello name="outer"/>
    </body>
</html>