---
1
<await(data.D1)>
    <@then|d1|>
        2
        <await(data.D2)>
            <@then|d2|>3</@then>
        </await>
        4
        <await(data.D3)>
            <@then|d3|>5</@then>
        </await>
        6
    </@then>
</await>
7
<await(data.D4)>
    <@then|d4|>8</@then>
</await>
9
---