<!-- test/migrate/fixtures/async-fragment-tag/template.marko -->

<await(userInfo from data.userInfo)>
    Success!
    <await-placeholder>loading...</await-placeholder>
    <await-timeout>took too long!</await-timeout>
    <await-error>something went wrong!</await-error>
</await>
