<div class="foo" w-bind="./widget">
    <app-bar ref="bar"/>
    <app-bar ref="bar2"/>

    <app-bar ref="barArray[]" label="1"/>
    <app-bar ref="barArray[]" label="2"/>

    <app-custom-events w-onTestEvent="handleTestEvent1" ref="customEvents" />
    <app-custom-events w-onTestEvent="handleTestEvent2" channel="customEvents-${widget.id}" />

    <ul>
        <li for(color in ['red', 'green', 'blue']) ref="colorListItems[]">${color}</li>
    </ul>


    <span class="config" ref="config"></span>
</div>