$ {
    var rootClass = input.rootClass,
        colors = input.colors,
        message = input.message;
}
<div class=`hello-world ${rootClass}`>${message}</div>
<if(colors && colors.length)>
    <ul>
        <for|color| of=colors>
            <li class="color">${color}</li>
        </for>
    </ul>
</if>
<else>
    <div>No colors!</div>
</else>