<for each="i from 0 to 9">
    $i
</for>
-
<for each="i from 9 to 0">
    $i
</for>
-
<for each="i from 9 to 0 step -1">
    $i
</for>
-
<for each="i from 0 to 9 step 2">
    $i
</for>
-
<for each="i from 9 to 0 step -2">
    $i
</for>
-
<for each="i from 0 to 'abc'.length">
    $i
</for>
-
<for each="i from ''.length to 'abc'.length">
    $i
</for>