<for|i| from=0 to=10>
    <div>${i}</div>
    <macro|node| name="renderTree">
        Name: ${node.name}

        Children:
        <if(node.children)>
            <ul>
                <for|child| of=node.children>
                    <li>
                        <renderTree ...child/>
                    </li>
                </for>
            </ul>
        </if>
    </macro>

    <renderTree ...input.nodes[i]/>
</for>