<macro greeting(name, age, hidden)>
    <div class=(hidden === true ? 'hidden' : null)>
        Hello ${name}! You are ${age} years old.
    </div>
</macro>

<greeting name="Frank" age=30/>
<greeting name="John" age=10 hidden/>
<greeting name="John" age=10 hidden=true />
<greeting name="John" age=10 hidden=false />