import Container from "../container/index.marko"

class {
    onMount() {
        window.component = this;
    }
    onCreate() {
        this.state = {
            text: ""
        };
    }
}

<${Container}>
    <input key="input" value=state.text/>
</>