<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Widgets Tests
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        app-foo
        app-bar

        script
            ---
            // window.fooWidget should not exist yet, but's store that in a variable to verify
            window.beforeInitWidgetsFooWidget = window.fooWidget;
            window.beforeInitWidgetsBarWidget = window.barWidget;
            ---
