<div
  w-on-click="handleClick"
  w-onChange="handleChange"
  w-on-dash-case="..."
  w-onDash-case="..."
  w-onCamelCase="..."
  w-on-PascalCase="...">
  Hello World
</div>

<some-tag
  w-on-click="handleClick"
  w-onChange="handleChange"
  w-on-dash-case="..."
  w-onDash-case="..."
  w-onCamelCase="..."
  w-on-PascalCase="...">
  Hello World
</some-tag>
