class {
    onCreate () {
        this.state = {
            count: 0
        }
    }
    onInput() {
        this.input = {};
    }
    onMount () {
        window.app = this;
    }
    increment () {
        this.state.count++;
    }
}

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Test
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"
        div.count key="count" -- ${state.count}

        init-components immediate
