<var name=input.name count=input.count/>

<div class=( count>50 ? 'over-50' : null)></div>
<div class=( count<50 ? 'under-50' : null)></div>
<div class=( count<50 ? 'under-50' : 'over-50')></div>
<div class=( count<50 ? 'under-50' : '#')></div>

<span class=(count ? 'under;-50\\' : 'over-50')></span>

<input type="checked" checked=(true ? true : false)/>

-- ${count>50 ? ((name ? 'Hello ${name}! ' : '') + 'Over 50') : ((name ? 'Hello ${name}! ' : '') + '50 or less')}