<div id="prodHolder">
  <div class="A">
    <div class="B">
      ${true ? 'yes' : 'no'}
    </div>
    <div class="C" for(var i=0;i<2;i++)>
    </div>
  </div>
  <div class="D">
    <div class="E">
      <div class="F">
        <div class="G">
          ${true ? 'yes' : 'no'}
        </div>
        <div class="H">
          ${true ? 'H-yes' : 'H-no'}
        </div>
      </div>
      <div class="I">
        <if(1 > 0)>
          <div class="J">${true ? 'yes' : 'no'}</div>
        </if>
      </div>
    </div>
    <div class="K">
      <div class="L">
        <div class="M">
          <div class="N">
            $!{true ? 'yes' : 'no'}
          </div>
        </div>
      </div>
      <div class="O">
        ${true ? 'yes' : 'no'}
      </div>
      <div class="P">
        ${true ? 'P-yes' : 'P-no'}
      </div>
    </div>
    <div class="Q">
      Q-body: ${true ? 'This div should have a class of Q' : 'no'}
    </div>
  </div>
</div>