---
1
<async-fragment data-provider=data.D1 var="d1">
    2
    <async-fragment data-provider=data.D2 var="d2">
        3
    </async-fragment>
    4
    <async-fragment data-provider=data.D3 var="d3">
        5
        <async-fragment data-provider=data.D4 var="d4">
            6
        </async-fragment>
        7
    </async-fragment>
    8
</async-fragment>
9
<async-fragment data-provider=data.D5 var="d5">
    10
    <async-fragment data-provider=data.D6 var="d6">
        11
    </async-fragment>
    12
    <async-fragment data-provider=data.D7 var="d7">
        13
    </async-fragment>
    14
    <async-fragment data-provider=data.D8 var="d8">
        15
    </async-fragment>
    16
</async-fragment>
17
---