------
<p>A <i>B</i> C</p>
---
<p>
    D <i>E</i>
    F
</p>
---
<p>
    G
    <i>H</i>
    I
</p>
---
<p>
    J
    <strong>K</strong>
    L
    <strong>M</strong>
    N
</p>
---
<p>
    <strong>O</strong>

    <strong>P</strong>

    <span>Q</span> <span>R</span>
</p>
------