class {
    onInput(input) {
        this.state = {
            name: input.name,
            body: input.renderBody
        };
    }
}

<div.foo>
    <span>Hello ${state.name}!</span>
    <div.body>
        <if(typeof state.body === "string")>${state.body}</if>
        <else>
            <${state.body}/>
        </else>
    </div>
</div>