<div class="app-dom-events"
    
    onMousemove("handleRootMouseMove")
    onClick("handleRootClick")>
    <button type="button" ref="button"
        onClick("handleButtonClick")>
        <span onMousemove("handleButtonSpanMouseMove")>
            Button
        </span>
    </button>

    <a href="#foo" id="fooLink"
        onDblclick("handleFooLinkDblClick")
        onMouseout("handleFooLinkMouseOut")>
    </a>

    <app-legacy-button ref="appButton">
        <span ref="helloWorld" onMousedown("handleHelloWorldMouseDown")>Hello World</span>
    </app-legacy-button>
</div>