<div class="app-dom-events"
    w-bind="./widget"
    w-onmousemove="handleRootMouseMove"
    w-onClick="handleRootClick">
    <button type="button" ref="button"
        w-onclick="handleButtonClick">
        <span w-onmousemove="handleButtonSpanMouseMove">
            Button
        </span>
    </button>

    <a href="#foo" id="fooLink"
        w-ondblclick="handleFooLinkDblClick"
        w-onmouseout="handleFooLinkMouseOut">
    </a>

    <app-legacy-button ref="appButton">
        <span ref="helloWorld" w-onmousedown="handleHelloWorldMouseDown">Hello World</span>
    </app-legacy-button>
</div>