<include("./layout-default.marko") show-header=false>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
<include("./layout-default.marko") show-header=true>
    <@header>HEADER CONTENT</@header>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
<include("./layout-default.marko") show-header=true>
    <@header>VALUE HEADER</@header>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
<include(input.layoutDynamic) show-header=true>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>