<test-message>
    <@item title="Item 1 title">Item 1 body</@item>
    <if(false)>
        <@item title="Item 2 title">SHOULD NOT RENDER</@item>
    </if>
    <for|i| from=3 to=5>
        <@item title=`Item ${i} title`>Item ${i} body</@item>
    </for>
    <if(true)>
        <@item title="Item 6 title">Item 6 body</@item>
    </if>
</test-message>