<div style:no-update class:no-update>
    <a href:no-update="http://www.ebay.com">
        eBay
    </a>
    <span key="hello">Hello ${state.name}!</span>
    <span key="hello2" class:no-update="foo">Hello ${state.name}!</span>
</div>
