static {
    var notEmpty = require("marko/helpers/notEmpty");
    var empty = require("marko/helpers/empty");
}

<if(notEmpty(["a", "b", "c"]))>
    <div>notEmpty-YES</div>
</if>
<if(notEmpty([]))>
    <div>notEmpty-NO</div>
</if>
<if(empty(["a", "b", "c"]))>
    <div>empty-NO</div>
</if>
<if(empty([]))>
    <div>empty-YES</div>
</if>