<div>
	<input onClick(false && 'handleButtonClick') key="inputWithoutHandler" type="button">
	<input onClick(true && 'handleButtonClick') key="inputWithHandler" type="button">
	<input onClick('handleButtonClick') key="inputWithLiteralHandler" type="button">
</div>