-------
<layout-use("./layout-default.marko", {showHeader: false}) show-footer=false>
    <layout-put into="body">BODY CONTENT</layout-put>
    <layout-put into="footer">FOOTER CONTENT</layout-put>
</layout-use>
----
<layout-use("./layout-default.marko", {showHeader: false}) show-header=true>
    <layout-put into="body">BODY CONTENT</layout-put>
    <layout-put into="footer">FOOTER CONTENT</layout-put>
</layout-use>
-------