div
    button ref="button" onMouseMove('handleButtonMouseMove') onClick("handleButtonClick")
    button [
            ref="ok"
            type="button"
            onClick('handleButtonClick', {type: 'ok'})
            onMouseMove('handleButtonMouseMove', {type: 'ok'})
        ]
        -- OK
    button [
            ref="cancel"
            type="button"
            onClick('handleButtonClick', {type: 'cancel'})
            onMouseMove('handleButtonMouseMove', {type: 'cancel'})
        ]
        -- Cancel