class {
    onMount() {
        window.app = this;

        this.clicked = false;
    }

    handleClick() {
        this.clicked = true;
    }
}
<div on-click('handleClick')>
    <span.body>
        <include(input.body)/>
    </span>
</div>
