class {
    onCreate () {
        this.state = {
            count: 0
        }
    }
    onInput() {
        this.input = {};
    }
    onMount () {
        window.app = this;
    }
    increment () {
        this.state.count++;
    }
}

body
    div id="test"
    div id="mocha"
    div id="testsTarget"
    div key="count" -- ${state.count}

    init-components immediate
