<var name="active" value="data.active"/>

<test-popover>
    <attr name="title">Popover Title</attr>
    <attr name="content">Popover Content</attr>
    
    Link Text
</test-popover>

<div>
    <attr name="class" value="{?active;tab-active}"/>
    <attr name="align">center</attr>
</div>

<div>
    <attr name="title">
        <for each="color in ['red', 'green', 'blue']"> $color! </for>
    </attr>
</div>