static let evilState = {
    'foo-0': 'bar\u2028',
    'foo-1': 'bar\u2029',
    'foo-2': '\u2028bar\u2029',
    'foo-3': 'Hello </script> \u2028bar\u2029'
};

class {
    onCreate() {
        this.state = evilState;
    }
}

<!DOCTYPE html>
<html lang="en">
    <body>
        Hello
    </body>
</html>
