<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Test
    body
        <a key="a"/>

        div id="test"
        div id="mocha"
        div id="testsTarget"

        init-components immediate
