A    
<async-fragment data-provider="user" var="user">
    asyncB1
    Hello $user.name! 
    <async-fragment data-provider="messages" arg-user="${user}" var="messages">
        You have $messages.length new messages. Messages:
        <ul>
            <li for="message in messages">$message.text</li>
        </ul>
    </async-fragment>
    asyncB2
</async-fragment>
B
<async-fragment data-provider="todos" var="todos">
    asyncA1
    <ul>
        <li for="todo in todos">$todo.text (status: $todo.status)</li>
    </ul>
    asyncA2
</async-fragment>
C