<if test="true">
    A
</if>
<else>
    B
</else>
,
<if test="false">
    A
</if>
<else>
    B
</else>
,
<if test="false">
    A
</if>
<else-if test="false">
    B
</else-if>
<else>
    C
</else>
,
<div if="false">
    A
</div>
<div else-if="false">
    B
</div>
<div else>
    C
</div>