{%
    function test(name) {
        out.write("Hello " + name + "!");
    }
%}
{%
    function test2(name) {
        return "Hello " + name + "!";
    }
%}

    A

    <p>
        <invoke function="test('World')"/>
        <c-write value="test2('World')"/>
    </p>

    B

    <p>
        <def function="greeting(name, count)">
            Hello ${name}! You have ${count} new messages.
        </def>
        <invoke function="greeting" name="Frank" count="${10}"/>
        <invoke function="greeting('John', 20)"/>
    </p>
