<c:template
    xmlns:c="core"
    xmlns:optimizer="optimizer">
    
    <optimizer:page name="optimizer">
        <dependencies>
            <module name="test/optimizer/mixedA"/>
            <module name="test/optimizer/mixedB"/>
        </dependencies>
    </optimizer:page>
    
    <html>
        <head>
            <optimizer:slot name="head"/>
        </head>
        <body>
            <optimizer:slot name="body"/>
        </body>
    </html>
</c:template>