<var name="name" value="data.name"/>
<var name="count" value="data.count"/>

<div class="{?count>50;over-50}"></div>
<div class="{?count lt 50;under-50}"></div>
<div class="{?count lt 50;under-50;over-50}"></div>
<div class="{?count lt 50;under-50;#}"></div>

<span class="{?count;under\;-50\\;over-50}"></span>

<input type="checked" checked="{?true;${true}}"/>

{?count>50;{?name;Hello $name! }Over 50;{?name;Hello $name! }50 or less}