class {}

<macro|macroInput| name="renderButton">
    $ var color = macroInput.color;
    <button on-click("handleColorClick", color)>${color}</button>
</macro>
<div>
    <for|color| of=["red", "green", "blue"]>
        <renderButton color=color/>
    </for>
</div>