import { expect } from 'chai';

static var counter = 0;

class {
    test(done) {
        var el = this.el;

        expect(el.innerHTML).to.equal('0');

        this.onUpdate = function() {
            expect(el.innerHTML).to.equal('1');
            done();
        }

        this.forceUpdate();
    }
}

<div>${counter++}</div>
