<div class="app-jquery-proxy">
    <span key="foo">foo</span>
    <span key="foo-text">foo-text</span>
    <span key="fooText">fooText</span>
    <ul key="ul">
        <li>red</li>
        <li>green</li>
        <li>blue</li>
    </ul>
    <button>Test Button</button>
</div>