import widgetlessComponent from './components/app-widgetless';
import simpleComponent from './components/app-simple';

static var components = [
    widgetlessComponent,
    widgetlessComponent,
    simpleComponent
];

<div class="app-repeated-id-widgetless">
    <for(component in components)>
        <include(component) key="childWidget[]" />
    </for>
</div>