<!-- test/migrate/fixtures/render-call-in-scriptlet/template.marko -->

<${input}/>
<${input.renderThing}/>
<${input} ...attrs/>
<${renderBody}/>
<${input.template} x=1/>
<${input.template} y=(function() {})/>
<${{
    render: input.barRenderer
}}/>
<${function(out) {
    input.barRenderer({}, true, out);
}}/>
<if(x)>
    <${renderA}/>
</if>
<else-if(y)>
    <${renderB}/>
</else-if>
<else>
    <${renderC}/>
</else>
<if(x)>
    <${render}/>
</if>
<if(!x)>
    <${render}/>
</if>
<for|i| from=0 to=9>
    <${input.items[i]}/>
</for>
$ let i = 10;
<while(i--)>
    <${input}/>
</while>
