<div w-bind>
	<input onClick(false && 'handleButtonClick') ref="inputWithoutHandler" type="button">
	<input onClick(true && 'handleButtonClick') ref="inputWithHandler" type="button">
	<input onClick('handleButtonClick') ref="inputWithLiteralHandler" type="button">
</div>