<div w-bind>
	<input w-onclick=(false && 'handleButtonClick') ref="inputWithoutHandler" type="button">
	<input w-onclick=(true && 'handleButtonClick') ref="inputWithHandler" type="button">
	<input w-onclick='handleButtonClick' ref="inputWithLiteralHandler" type="button">
</div>