<include("./include-target.marko", {name: 'Frank'}) count=20/>
<include("./include-target.marko", {name: 'Frank', count: 20})/>
<include("./include-target.marko", {name: 'Frank', count: 10}) count=20/>