$ var userPromise = new Promise(function(resolve, reject) {
    setTimeout(function() {
        resolve({});
    }, 10);
});

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body
        div id="testsTarget"

        app-wrapper
            app-hello name="Test"
