static {
    var notEmpty = require('marko/helpers/notEmpty');
    var empty = require('marko/helpers/empty');
}

<div if(notEmpty(['a', 'b', 'c']))>
    notEmpty-YES
</div>
<div if(notEmpty([]))>
    notEmpty-NO
</div>
<div if(empty(['a', 'b', 'c']))>
    empty-NO
</div>
<div if(empty([]))>
    empty-YES
</div>