<div>

    $ const SecondComponent = 'something';
    <var FourthComponent="FourthTest"/>
    $ let FifthComponent = 'Something';
    $ var FifthComponent_1 = 'Something';
    $ var Matcher = "FifthComponent_2";

    <div ThirdComponent=(FourthComponent) ThirdComponent_1="ThirdComponent">
        ThirdComponent
    </div>
    <MyComponent body-only-if(input.test)>
        There
    </MyComponent>
    <SecondComponent body-only-if(input.test)>
        Are
    </SecondComponent>
    <MyComponent body-only-if(!input.test)>
        Not
    </MyComponent>
    <ThirdComponent body-only-if(input.test)>
        Lots
    </ThirdComponent>
   <FourthComponent body-only-if(input.test)>
        Of
    </FourthComponent>
    <FifthComponent body-only-if(input.test)>
        Tests
    </FifthComponent>


</div>