---
BEFORE
<async-fragment data-provider=data.testDataProvider var="testData">
    Success!

    <async-fragment-error>
        something went wrong!
    </async-fragment-error>
</async-fragment>
AFTER
---