<async-fragment data-provider=data.userInfo
    var="user"
    timeout=300
    name="userInfo1">

    <async-fragment-timeout>
        1-A timeout has occurred!
    </async-fragment-timeout>
    1
</async-fragment>
<async-fragment data-provider=data.userInfo
    var="user"
    timeout-message="2-A timeout has occurred!"
    timeout=300
    name="userInfo2">
    2
</async-fragment>
