class {
    onCreate() {
        this.state = {
            insertEl: false,
            count: 0
        };
    }
}

<div.root key="root">
    <if(state.insertEl === false)>
        <hello key="hello" count=state.count/>
    </if>
    <else>
        $!{'<p></p>'}
        <hello key="hello" count=state.count/>
    </else>

</div>
