<div>
    <ul.primary>
        <for|color| of=input.colors>
            <li onClick("handleColorClick", color, "primary")>${color}</li>
        </for>
    </ul>
    <ul.secondary>
        <for|color| of=input.colors>
            <li onClick("handleColorClick", color, "secondary")>${color}</li>
        </for>
    </ul>
</div>