<div>
    <ul.primary>
        <li for(color in input.colors) onClick("handleColorClick", color, 'primary')>
			${color}
		</li>
    </ul>
    <ul.secondary>
        <li for(color in input.colors) onClick("handleColorClick", color, 'secondary')>
			${color}
		</li>
    </ul>
</div>
