<test-message>
    <@item title="Item 1 title">Item 1 body</@item>
    <@item title="Item 2 title" if(false)>SHOULD NOT RENDER</@item>
    <@item title="Item ${i} title" for(i from 3 to 5)>Item ${i} body</@item>
    <@item title="Item 6 title" if(true)>Item 6 body</@item>
</test-message>