import hooks from '../../hooks';
import { expect } from 'chai';

class {
    onDestroy(){
        // The nodes should still be attached
        var rootNode = this.getEl('root');
        expect(rootNode.parentNode != null).to.equal(true);
        hooks.record('foo:destroy');
    }
}

<div.foo key="root">
	Hello <span.name>${input.name}</span>!
</div>
