class {}

<child>
    <for|item| of=input.items>
        <@item>
            <if(typeof item === "string")>${item}</if>
            <else>
                <${item}/>
            </else>
        </@item>
    </for>
</child>