<layout-use template="${data.layout}">
    <layout-put into="body">
        <app-foo/>
        <app-foo/>
        <app-foo/>
        <app-widget-config/>
        <app-widget-config use-attribute="true"/>
        <app-dom-events/>
        <app-dom-events-jquery/>
        <app-extend-button name="extendButton" label="Button"/>
        <app-extend-checkbox name="extendCheckbox" label="Checkbox"/>
        <app-init-async/>
        <app-fixed-id/>
    </layout-put>
</layout-use>