import Layout from "./layout.marko"

class {
    onCreate() {
        this.state = {
            count: 0
        };
    }
    onMount() {
        window.app = this;
    }
    increment() {
        this.state.count++;
    }
}

<${Layout}>
    <@body>
        <span.count>${state.count}</span>
    </@body>
</>