class {
    onInput(input) {
        this.state = {
            name: input.name,
            body: input.renderBody
        };
    }
}

<div.foo>
    <span>Hello ${state.name}!</span>
    <div.body>
        <${state.body}/>
    </div>
</div>