<h1 if(input.showHeader !== false)>
    <layout-placeholder name="header">
        DEFAULT TITLE
    </layout-placeholder>
</h1>
<div>
    <layout-placeholder name="body"/>
</div>
<layout-placeholder name="footer"/>
<layout-placeholder name="empty"/>