<macro|{ title, renderBody }| name="alert">
    <div>
        <h1>
            ${title}
        </h1>
        <p>
            <${renderBody}/>
        </p>
    </div>
</macro>

<alert title="My Alert">
    Something went wrong!
</alert>