<for>
    Missing each attribute
</for>

<for each="item">
</for>

<for each="item in items" invalid="true">
    Invalid attribute
</for>

<for each="item in items" separator="${;">
    Invalid separator
</for>

<div for="item in items; invalid=true">
</div>