<div class="app-stateless-reuse-widgets" w-bind>
    <app-stateless-button size=data.buttonSize w-id="button1">${data.buttonSize}</app-stateless-button>
    <app-stateless-button size="large" w-id="button2">button2</app-stateless-button>
</div>