$ var alertType=state.alertType
$ var alertMessage=state.alertMessage

<div>
    <app-transclusion-alert type=alertType>
        <p>
            <b>${alertType}</b> ${alertMessage}
        </p>
    </app-transclusion-alert>
</div>