<h1 if(data.showHeader !== false)>
    <layout-placeholder name="header">
        DEFAULT TITLE
    </layout-placeholder>
</h1>
<div>
    <layout-placeholder name="body"/>
</div>
<h1 if(data.showFooter !== false)>
    <layout-placeholder name="footer">
        DEFAULT FOOTER
    </layout-placeholder>
</h1>