lasso-page dependencies=data.browserDependencies lasso=data.lasso

import Promise from 'promise-polyfill';

$ var userPromise = new Promise(function(resolve, reject) {
    setTimeout(function() {
        resolve({});
    }, 10);
});

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
        lasso-head
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        <await(user from userPromise)>
            <app-hello name="hello1"/>
        </await>
        <await(user from userPromise)>
            <app-hello name="hello2"/>
        </await>

        <app-hello name="hello3"/>

        lasso-body

        init-components immediate

        lasso-slot name="mocha-run"

        browser-refresh
