<div>
	Hello ${input.name}!

	<app-stateful-lifecycle-events-nested ref="nestedStateful" message-count=input.messageCount/>
	<app-stateful-lifecycle-events-nested name="foo" message-count=input.messageCount/>
</div>