<div>
	Hello ${state.name}!

	<app-stateful-lifecycle-events-nested ref="nestedStateful" message-count=state.messageCount/>
	<app-stateful-lifecycle-events-nested name="foo" message-count=state.messageCount/>
</div>