<div>
	Hello ${data.name}!

	<app-stateful-lifecycle-events-nested ref="nestedStateful" message-count=data.messageCount/>
	<app-stateful-lifecycle-events-nested name="foo" message-count=data.messageCount/>
</div>