lasso-page dependencies=data.browserDependencies lasso=data.lasso

<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
        lasso-head
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        <app/>

        lasso-body

        init-components immediate

        script
            ---
            // window.fooComponent should not exist yet, but's store that in a variable to verify
            window.afterInitComponentsFooComponent = window.fooComponent;
            window.afterInitComponentsBarComponent = window.barComponent;
            ---

        lasso-slot name="mocha-run"

        browser-refresh
