<div w-bind>
	<app-fancy-button key="ok" label="OK" onPress('handleButtonPress', { type: 'ok' })/>
	<app-fancy-button key="cancel" label="Cancel" onPress('handleButtonPress', { type: 'cancel' })/>
</div>