<div>
    <app-foo onTest('handleFooTest')/>
</div>

class {
    onMount() {
        var fooEl = document.querySelector('.foo');
        var fooWidget = this.fooWidget = require('marko/widgets').getWidgetForEl(fooEl);
        fooWidget.emitTestEvent();
    }
    handleFooTest() {
        this.fooEvent = arguments;
    }
}