<div class="app-stateful-rerender" w-bind>
    Hello ${data.name}! You have ${data.count} new messages.
    <ul>
        <li>
            foo: ${data.foo}
        </li>
        <li>
            hello: ${data.hello}
        </li>
    </ul>
</div>