<include template="./include-target.marko" template-data="{name: 'Frank', count: 20}"/>
<include template="./include-target.marko" template-data="{name: 'Frank'}" count="${20}"/>
<include template="./include-target.marko" name="Frank" count="${20}"/>
