<div>
    [app-rerender-init-order]
    <app-rerender-init-order-child key="childA" id="childA" version=input.version/>
    <app-rerender-init-order-child key="childB" id="childB" version=input.version/>
</div>