<div w-bind>
    <app-stateful-button size=data.buttonSize ref="button1">${data.buttonLabel}</app-stateful-button>
    <app-stateful-button size=data.buttonSize ref="button2">${data.buttonLabel}</app-stateful-button>
</div>