<script>
    module.exports = {
        onInput: function(input) {
            this.state = {
                counter: 1
            }
        },

        increment: function() {
            this.state.counter++;
        }
    }
</script>
<div>
    <input type='text'
        placeholder="What are you looking for?"
        tabindex=1
        class='input'
        autocomplete='off'
        ref='searchInput'>

    <button type='button' class='btn btn-search'></button>
</div>
