$ var tabs = input.tabs;
<div class="tabs">
    <ul>
        <for|tab| of=tabs>
            <li>${tab.title}</li>
        </for>
    </ul>
    <div class="tab-content">
        <for|tab| of=tabs>
            <div class="tab">
                <if(tab.renderBody)>
                    <${tab}/>
                </if>
            </div>
        </for>
    </div>
</div>