<div>
	<h1>app-macro-events</h1>
	<macro renderButton(id, label, handler)>
		<button key="${id}" type="button" onClick("${handler}")>
			$label
		</button>
    </macro>

	<renderButton id="foo" label="Foo" handler="handleFooClick"/>
	<renderButton id="bar" label="Bar" handler="handleBarClick"/>
</div>