class {

}

<div key="root">
    <for(index, field in input.fields)>
        <div>
            <input key="field[${index}]" type="text" value=field.value/>
            <label for-key="field[${index}]">${field.label}</label>
        </div>
    </for>
</div>
