<div w-bind>
    [app-rerender-init-order]
    <app-rerender-init-order-child w-id="childA" id="childA" version=data.version/>
    <app-rerender-init-order-child w-id="childB" id="childB" version=data.version/>
</div>