<div w-bind>
	<app-fancy-button key="ok" label="OK" on-press('handleButtonPress', { type: 'ok' })/>
	<app-fancy-button key="cancel" label="Cancel" on-press('handleButtonPress', { type: 'cancel' })/>
</div>