import hooks from './hooks';
import { expect } from 'chai';

class {
    onDestroy(){
        expect(document.getElementById(this.id)).to.equal(this.el);
        hooks.record('root:destroy');
    }
}

<div>
	<foo name=input.name key="foo"/>
</div>
