<test-message>
    <@title>My title</@title>
    <if(false)>
        <@body>My body</@body>
    </if>
</test-message>
<test-message>
    <@title>My title 2</@title>
    <if(true)>
        <@body>My body 2</@body>
    </if>
</test-message>