$ var somePromise = undefined;
<if(!(somePromise === undefined))>
    <await(somePromise)>
        <@then|promiseData|>${promiseData}</@then>
    </await>
</if>
<else>
    <div>No promise</div>
</else>