<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body
        div id="testsTarget"

        <app name="App">
            <@body>
                <app-hello name="Marko"/>
            </@body>
        </app>

        init-components immediate
