<layout show-header=false>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</layout>
<layout show-header=true>
    <@header>HEADER CONTENT</@header>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</layout>
<layout show-header=true>
    <@header>VALUE HEADER</@header>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</layout>
<${input.layoutDynamic} show-header=true>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</>