<div w-bind>
    <app-stateful-button size=state.buttonSize ref="button1">${state.buttonLabel}</app-stateful-button>
    <app-stateful-button size=state.buttonSize ref="button2">${state.buttonLabel}</app-stateful-button>
</div>