<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        title -- Marko Components Tests
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        $ out.global.name = 'FrankGlobal';

        <lifecycle-events name="Frank" />
        <lifecycle-events-component-class name="Frank" />
        <lifecycle-events-component-class-ctor name="Frank" />
        <lifecycle-events-component-object name="Frank" />

        init-components immediate
