<c:template
    xmlns:c="core"
    xmlns:test="http://raptorjs.org/templates/test"
    test:functions="user,isLoggedIn">
    
    <c:if test="isLoggedIn()">
        Hello ${user().firstName} ${user().lastName}!
    </c:if>
    <c:if test="!isLoggedIn()">
        You are not logged in.
    </c:if>
    
</c:template>
