<c:template
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:t="http://raptorjs.org/templates/test">


<div c:escape-xml="false">
   &lt; &gt; &amp;
   <div>&lt; &gt; &amp;</div>
</div>


</c:template>
