<c:template
    xmlns:c="core"
    xmlns:helper-objects="/taglibs/helper-objects/helper-objects.rtld"
    helper-objects:import-helper-object="testHelper">
    
    Hello ${testHelper.upperCase("world")}!
    
</c:template>