<c:template 
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:t="http://raptorjs.org/templates/test">
    
    <img src="test.jpg"/>
    <div class="self-closing-not-allowed" />
    <script src="test.js"></script>
    <br/>

</c:template>