<template  
    params="showConditionalTab"
    imports="
        @if from http://raptorjs.org/templates/core;
        * from test;">

    <tabs>
        <tab title="Tab 1">
            Tab 1 content
        </tab>
        
        <tab title="Tab 2">
            Tab 2 content
        </tab>
        
        <tab title="Tab 3" if="showConditionalTab">
            Tab 3 content
        </tab>
    </tabs>

</template>