<c:template 
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:test="http://raptorjs.org/templates/test" 
    params="showConditionalTab">
    
    <test:popover>
         <test:popover-title>Popover Title</test:popover-title>
         <test:popover-content>
            Popover Content
        </test:popover-content>
        Link Text
    </test:popover>
    <test:popover title="Popover Title" content="Popover Content">
        Link Text
    </test:popover>
    
</c:template>