<c:template 
    xmlns:c="http://raptorjs.org/templates/core" 
    params="">
    
    
    {% if (true) { %}
        HELLO
    {% } %}
    {% if (false) { %}
        WORLD
    {% } %}
    
</c:template>