<c:template 
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:test="http://raptorjs.org/templates/test" 
    params="">
    
    <test:tag-with-static-props prop1="Hello World" prop2="50"/>
    
</c:template>