<c:template xmlns:c="core" 
    xmlns:test-alias="taglibs/test-alias"
    xmlns:test-alias-multi="test-alias-multi"
    xmlns:test-alias-multi2="test-alias-multi">

    <test-alias:simpleHello name="John" adult="true"/>
    <test-alias-multi:simpleHello name="John" adult="true"/>
    <test-alias-multi2:simpleHello name="John" adult="true"/>

</c:template>