<div>
    <h1>
        Hello ${input.name}! You have ${input.count} new messages.
    </h1>
    <p if(input.renderBody)>
        $ input.renderBody(out);
    </p>
    <p else>
        No body!
    </p>
</div>