<html>
    <head>
        <title>
            <if(typeof input.title === "string")>${input.title}</if>
            <else>
                <${input.title}/>
            </else>
        </title>
    </head>
    <body>
        <if(typeof input.body === "string")>${input.body}</if>
        <else>
            <${input.body}/>
        </else>
    </body>
</html>