import Layout from "./layout.marko"

$ var userPromise = new Promise((resolve, reject) => {
    setTimeout(() => {
        resolve({ name: "Frank" });
    }, 1);
});
<${Layout}>
    <@title>
        <await(userPromise)>
            <@then|user|>Welcome ${user.name}</@then>
        </await>
    </@title>
    <@body>
        <hello/>
    </@body>
</>