<if(input.showHeader !== false)>
    <h1>
        <if(input.header)>
            <if(typeof input.header === "string")>${input.header}</if>
            <else>
                <${input.header}/>
            </else>
        </if>
        <else>DEFAULT TITLE</else>
    </h1>
</if>
<div>
    <if(typeof input.body === "string")>${input.body}</if>
    <else>
        <${input.body}/>
    </else>
</div>
<if(input.showFooter !== false)>
    <h1>
        <if(input.footer)>
            <if(typeof input.footer === "string")>${input.footer}</if>
            <else>
                <${input.footer}/>
            </else>
        </if>
        <else>DEFAULT FOOTER</else>
    </h1>
</if>