-------
<include("./layout-default.marko", {showHeader: false}) show-footer=false>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
----
<include("./layout-default.marko", {showHeader: false}) show-header=true>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
-------