import LayoutDefault from "./layout-default.marko"

--------
<${LayoutDefault}
    ...{
        showHeader: false
    }
    show-footer=false>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</>
----
<${LayoutDefault}
    ...{
        showHeader: false
    }
    show-header=true>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</>
--------