<test-nested-tags-overlay header=input.header>

    <test-nested-tags-overlay:body class="my-body">
        Body content
    </test-nested-tags-overlay:body>

    <test-nested-tags-overlay:footer class="my-footer">
        Footer content
    </test-nested-tags-overlay:footer>

</test-nested-tags-overlay>