<layout-put into="body">BODY CONTENT</layout-put>
<layout-put into="footer" value="FOOTER CONTENT"></layout-put>

<layout-put into="example-empty1" value=""/>
<layout-put into="example-empty2"></layout-put>
<layout-put into="example-empty3">

</layout-put>
<layout-put into="example-empty4"/>