<for|item, loopIndex, loopAll| of=["red", "green", "blue"]>
    <div>
        ${item} - ${loopIndex === 0} - ${loopIndex === loopAll.length - 1} - ${loopIndex}
        - ${loopAll.length}
    </div>
    <if(loopIndex !== loopAll.length - 1)>$!{", "}</if>
</for>