<h1 if(data.showHeader !== false)>
    <if(data.header)>
        <include(data.header)/>
    </if>
    <else>
        DEFAULT TITLE
    </else>
</h1>
<div>
    <include(data.body)/>
</div>
<include(data.footer)/>
<include(data.empty)/>