<div w-bind>
	<input w-on-click=(false && 'handleButtonClick') w-id="inputWithoutHandler" type="button">
	<input w-on-click=(true && 'handleButtonClick') w-id="inputWithHandler" type="button">
	<input w-on-click='handleButtonClick' w-id="inputWithLiteralHandler" type="button">
</div>