<div class=["app-stateful-rerender", input.className]>
    Hello ${input.name}! You have ${input.count} new messages.
    <ul>
        <li>
            foo: ${input.foo}
        </li>
        <li>
            hello: ${input.hello}
        </li>
    </ul>
</div>