<lasso-page dependencies=input.browserDependencies lasso=input.lasso/>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <lasso-head/>
    </head>
    <body>
        <div#testsTarget>
            <include(component) for(component in input.components)/>
        </div>
        <lasso-body/>
    </body>
</html>
