<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div#testsTarget>
            <include(component.template, component.input) for(component in input.components)/>
        </div>
    </body>
</html>
