<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div#testsTarget>
            <for(component in input.components)>
                <include(require(component.template), component.input) key="components[]"/>
            </for>
        </div>
    </body>
</html>
