class {
    onCreate () {
        this.state = {
            count: 0
        }
    }
    onMount () {
        window.app = this;
    }
    increment () {
        this.state.count++;
    }
}

<!DOCTYPE html>
html lang="en" count=state.count
    head
        meta charset="UTF-8"
        title -- Marko Test
    body

        div id="test"
        div id="mocha"
        div id="testsTarget"

        init-components immediate
