<h1 if(input.showHeader !== false)>
    <if(input.header)>
        <include(input.header)/>
    </if>
    <else>
        DEFAULT TITLE
    </else>
</h1>
<div>
    <include(input.body)/>
</div>
<include(input.footer)/>
<include(input.empty)/>