<var name="name" value="input.name"/>

<html>
    <head>
        <title>Inline Script</title>
    </head>
    <body>
        Hello ${name}!

        <script type="text/javascript">
        <div if(foo)></div>
        $(function() {
            alert('${input.name}');
        })
        </script>
    </body>
</html>