-- BEFORE
<async-fragment data-provider=data.userInfoShort
    var="user"
    timeout=10
    name="userInfo1">

    <async-fragment-timeout>
        1-A timeout has occurred!
    </async-fragment-timeout>
    1
</async-fragment>
<async-fragment data-provider=data.userInfoShort
    var="user"
    timeout-message="2-A timeout has occurred!"
    timeout=10
    name="userInfo2">
    2
</async-fragment>
<async-fragment data-provider=data.userInfoLong
    var="user"
    timeout-message="3-A timeout has occurred!"
    timeout=100
    name="userInfo3">
    3
</async-fragment>
<async-fragment data-provider=data.userInfoLong
    var="user"
    timeout=100
    name="userInfo4">

    <async-fragment-timeout>
        4-A timeout has occurred!
    </async-fragment-timeout>
    4
</async-fragment>
-- AFTER