$ var classes = [
    input.class,
    'app-button',
    state.size !== 'normal' && 'app-button-'+state.size,
    state.variant !== 'primary' && 'app-button-'+state.variant,
];

<button ${input['*']} class=classes onClick("handleClick")>
    <include(input.label || input.renderBody)/>
</button>