---
BEFORE<await(data.getUserInfoShort()) timeout=10 name="userInfo1">
    <@then|user|>1</@then>
    <@catch|err|>
        <if(err.name === "TimeoutError")>1-A timeout has occurred!</if>
    </@catch>
</await>
<await(data.getUserInfoShort()) timeout=10 name="userInfo2">
    <@then|user|>2</@then>
    <@catch|err|>
        <if(err.name === "TimeoutError")>2-A timeout has occurred!</if>
    </@catch>
</await>
<await(data.getUserInfoLong()) timeout=100 name="userInfo3">
    <@then|user|>3</@then>
    <@catch|err|>
        <if(err.name === "TimeoutError")>3-A timeout has occurred!</if>
    </@catch>
</await>
<await(data.getUserInfoLong()) timeout=100 name="userInfo4">
    <@then|user|>4</@then>
    <@catch|err|>
        <if(err.name === "TimeoutError")>4-A timeout has occurred!</if>
    </@catch>
</await>
AFTER
---