<div>
	<input onMouseMove(false && "handleMouseMove") key="inputWithoutHandler" type="button">
	<input onMouseMove(true && 'handleMouseMove') key="inputWithHandler" type="button">
	<input onMouseMove('handleMouseMove') key="inputWithLiteralHandler" type="button">
</div>