<script>
    module.exports = {
        onInput: function(input) {
            this.state = {
                name: undefined
            }
        }
    };
</script>

<div>
    Hello ${state.name || ''}!
</div>