<div class="overlay">
    <div class="overlay-header" if(input.header)>
        <invoke input.header.renderBody(out)/>
    </div>

    <div class="overlay-body ${input.body.className}" if(input.body)>
        <invoke input.body.renderBody(out)/>
    </div>

    <div class="overlay-footer ${input.footer.className}" if(input.footer)>
        <invoke input.footer.renderBody(out)/>
    </div>
</div>