<div class="overlay">
    <if(input.header)>
        <div class="overlay-header">
            <${input.header}/>
        </div>
    </if>
    <if(input.body)>
        <div class=`overlay-body ${input.body.className}`>
            <${input.body}/>
        </div>
    </if>
    <if(input.footer)>
        <div class=`overlay-footer ${input.footer.className}`>
            <${input.footer}/>
        </div>
    </if>
</div>