<!-- test/migrate/fixtures/assign-tag/template.marko -->

$ var firstName = "John";
$ var lastName = "Smith";
$ var fullName;
$ fullName = firstName + " " + lastName;
<div>${fullName}</div>
$ var count = 0;
$ count++;
<div>${count}</div>
