<c:template 
    xmlns:c="core" 
    xmlns:async="async">

    1    
    <async:fragment dependency="D1" var="d1">
        2
        <async:fragment dependency="D2" var="d2">
            3
        </async:fragment>
        4
        <async:fragment dependency="D3" var="d3">
            5
        </async:fragment>
        6
    </async:fragment>
    7
    <async:fragment dependency="D4" var="d4">
        8
    </async:fragment>
    9
</c:template>