<c-choose>
    <c-when test="0">A</c-when>
    <c-when test="false">B</c-when>
    <c-when test="true">TRUE</c-when>
    <c-otherwise>C</c-otherwise>
</c-choose>,

<c-choose>
    <c-when test="false">A</c-when>
    <c-when test="false">B</c-when>
    <c-otherwise>TRUE</c-otherwise>
</c-choose>