<c:template 
    xmlns:c="http://raptorjs.org/templates/core">
    
    <div class="{?false;some-class}"></div>
    <div class="{?true;some-class}"></div>
    <div class="${data.name}"></div>
</c:template>