<div data-attr="Hello &lt;John&gt; &lt;hello&gt;">
    <c-attr name="data-nested-attr">Hello &lt;John&gt; <![CDATA[<hello>]]></c-attr>
    <c-attr name="data-nested-attr2" value="Hello &lt;John&gt; &lt;hello&gt;"/>
    Hello &lt;John&gt;© <![CDATA[<hello>]]>
    ${startTag:START}
</div>
&copy;