<c:if test="true">
    A
</c:if>
<c:else>
    B
</c:else>
,
<c:if test="false">
    A
</c:if>
<c:else>
    B
</c:else>
,
<c:if test="false">
    A
</c:if>
<c:else-if test="false">
    B
</c:else-if>
<c:else>
    C
</c:else>
,
<div c:if="false">
    A
</div>
<div c:else-if="false">
    B
</div>
<div c:else>
    C
</div>