<c:var name="name" value="data.name"/>
<c:var name="count" value="data.count"/>
<c:var name="invokeBody" value="data.invokeBody"/>

<div class="nested">
    <h1>
        Hello $name! You have $count new messages.
    </h1>
    <p>
        ${invokeBody()}
    </p>
</div>