<c-include template="./include-target.rhtml" name="${'Frank'}" count="20"/>
<c-include template="./include-target.rhtml" name="Frank" count="${20}"/>
<c-include template="./include-target.rhtml" template-data="{name: 'Frank', count: 20}"/>
<c-include template="./include-nested-content.rhtml" name="Frank" count="${20}">
    Have a 
    <b>
        wonderful
    </b>
    day!
</c-include>