<c:var name="name" value="data.name"/>

<html>
    <head>
        <title>Optimizer: Server Includes</title>
    </head>
    <body>
        Hello $name!
        <script>
        $(function() {
            alert('test');    
        })
        </script>
    </body>
</html>