<c:var name="dynamic" value="data.dynamic"/>

<ul>
    <li>
        <t:simpleHello name="world"/>
    </li>
    <li>
        <t:simpleHello name="${dynamic}" adult="true"/>
    </li>
    <li>
        <t:simpleHello name="Dynamic: ${dynamic}" adult="false"/>
    </li>
</ul>