<c:template 
    xmlns:c="http://raptorjs.org/templates/core" 
    params="rootClass,colors,message">

    <div class="hello-world ${rootClass}">${message}</div>
    
    <ul c:if="notEmpty(colors)">
        <li class="color" c:for="color in colors">${color}</li>
    </ul>
    
    <div c:if="empty(colors)">
        No colors!
    </div>
    
</c:template>