<c:template 
    xmlns:c="http://raptorjs.org/templates/core" 
    params="name,count">
    
    ${name != null ? "Hello ${name.toUpperCase()}! You have $count new messages." : null}
    
</c:template>