<div>
    <span c-strip="true"><b>A</b></span>
</div>
<div>
    <span c-strip="false"><b>B</b></span>
</div>
<div>
    <span c-strip="1 === 1"><b>c</b></span>
</div>

<div>
    <span c-strip="1 === 2"><b>d</b></span>
</div>