---
1
<await(d1 from data.D1)>
    2
    <await(d2 from data.D2)>
        3
    </await>
    4
    <await(d3 from data.D3)>
        5
        <await(d4 from data.D4)>
            6
        </await>
        7
    </await>
    8
</await>
9
<await(d5 from data.D5)>
    10
    <await(d6 from data.D6)>
        11
    </await>
    12
    <await(d7 from data.D7)>
        13
    </await>
    14
    <await(d8 from data.D8)>
        15
    </await>
    16
</await>
17
---