<!-- test/migrate/fixtures/non-standard-template-literals/template.marko -->

<div class=`${a}`/>
<div class=`${a} ${b}`/>
<div class={
    a: b
}/>
<div class={
    a: `${b} ${c}`
}/>
<test value=a/>
<test value=`${a} ${b}`/>
<test value={
    a: b
}/>
<test value={
    a: `${b} ${c}`
}/>
<test class=`something\n  ${data.first ? " first" : ""}\n  ${data.last ? " last" : ""}`/>
