class {
    onMount() {
        window.app = this;
    }
}
<div>
    <no-update-attr name="server" key="no-update-attr"/>
    <no-update-el name="server" key="no-update-el"/>
    <no-update-el-nested name="server" key="no-update-el-nested"/>
    <no-update-body-el name="server" key="no-update-body-el"/>
</div>
