<app-button key="button" class=state.className onClick("handleClick")>
    <span class="app-checkbox-icon"/>
    <span key="checkboxLabel">
        <if(typeof state.body === "string")>${state.body}</if>
        <else>
            <${state.body}/>
        </else>
    </span>
</app-button>