static var dataProvider = {
    user: {
        name: "Frank"
    },

    getUserInfo() {
        var user = this.user;
        return new Promise(function(resolve, reject) {
            setTimeout(function() {
                resolve(user);
            }, 20);
        });
    }
};

<await(dataProvider["getUserInfo"].bind(dataProvider))>
    <@then|user|>Hello ${user.name}!</@then>
</await>