import componentlessComponent from './components/app-componentless';
import simpleComponent from './components/app-simple';

static var components = [
    componentlessComponent,
    componentlessComponent,
    simpleComponent
];

<div class="app-repeated-id-componentless">
    <for(component in components)>
        <include(component) key="childComponent[]" />
    </for>
</div>