import { expect } from 'chai';

<script>
    module.exports = {
        onInput: function(input) {
            this.state = {
                nameNull: null,
                nameUndefined: undefined
            }
        },

        onMount: function() {
            window.appStateWatch = this;
        },

        test: function() {
            expect(this.state.nameNull).to.equal(null);
            expect(this.state.nameUndefined).to.equal(undefined);

            this.state.nameNull = 'Frank';
            this.update();
            expect(this.el.innerHTML).to.contain('nameNull:Frank');

            this.state.nameUndefined = 'Frank';
            this.update();
            expect(this.el.innerHTML).to.contain('nameUndefined:Frank');
        }
    };
</script>

<div>
    nameNull:${state.nameNull || ''}!
    nameUndefined:${state.nameUndefined || ''}!
</div>