<async-fragment data-provider="data.userInfo" var="user">
    <async-fragment-error>
        1-An error has occurred!
    </async-fragment-error>
    1
</async-fragment>
<async-fragment data-provider="data.userInfo" var="user" error-message="2-An error has occurred!">
    2
</async-fragment>
