<div w-bind>
    <app-stateful-button size=data.buttonSize w-id="button1">${data.buttonLabel}</app-stateful-button>
    <app-stateful-button size=data.buttonSize w-id="button2">${data.buttonLabel}</app-stateful-button>
</div>