<div.a>
    <test-message>
        <@item title="Item 1 title">Item 1 body</@item>
        <@item title="Item 2 title" if(true)>Item 2 body</@item>
    </test-message>
</div>
<div.b>
    <test-message>
        <@item title="Item 1 title">Item 1 body</@item>
        <@item title="Item 2 title" if(false)>Item 2 body</@item>
    </test-message>
</div>
<div.c>
    <test-message>
        <@item title="Item 1 title" if(true)>Item 1 body</@item>
        <@item title="Item 2 title">Item 2 body</@item>
    </test-message>
</div>
<div.d>
    <test-message>
        <@item title="Item 1 title" if(false)>Item 1 body</@item>
        <@item title="Item 2 title">Item 2 body</@item>
    </test-message>
</div>