<macro|input| name="test">
  <div.native ...input>Inline native element renderBody</div>
  <custom-tag ...input>Inline custom tag renderBody</custom-tag>

  <div.native ...input/>
  <custom-tag ...input/>
</macro>

<test>
  RenderBody from input.
</test>
