<div w-bind="./widget">
    <app-hello name="Frank" key="helloFrank"/>
    <app-async name="async1" key="async1"/>
    <app-hello name="John" key="helloJohn"/>
    <app-async name="async2" key="async2"/>
    <app-hello name="Jane" key="helloJane"/>
</div>