---
1
<await(data.D1)>
    <@then|d1|>
        2
        <await(data.D2)>
            <@then|d2|>3</@then>
        </await>
        4
        <await(data.D3)>
            <@then|d3|>
                5
                <await(data.D4)>
                    <@then|d4|>6</@then>
                </await>
                7
            </@then>
        </await>
        8
    </@then>
</await>
9
<await(data.D5)>
    <@then|d5|>
        10
        <await(data.D6)>
            <@then|d6|>11</@then>
        </await>
        12
        <await(data.D7)>
            <@then|d7|>13</@then>
        </await>
        14
        <await(data.D8)>
            <@then|d8|>15</@then>
        </await>
        16
    </@then>
</await>
17
---