---------
<include("./layout-default.marko", {showHeader: false})>
    <@body>BODY CONTENT</@body>
    <@footer>FOOTER CONTENT</@footer>
</include>
----
<include("./layout-default.marko", {showHeader: true})>
    <@body>BODY CONTENT2</@body>
    <@footer>FOOTER CONTENT2</@footer>
</include>
----
<include("./layout-default.marko", {showHeader: true})>
    <@header>My Title</@header>
    <@body>BODY CONTENT2</@body>
    <@footer>FOOTER CONTENT2</@footer>
</include>
---------