<script>
module.exports = {
    onInput: function(attrs) {
        this.state = { code: '// Your code here', errorText: '' }
    },
    submit: function() {
        this.state.errorText = 'Placeholder error'
    }
}
</script>
<div class="code-editor">
    <h3>Code Editor</h3>
    <div>
        <textarea>${state.code}</textarea>
    </div>
    <button on-click('submit')>Run Code</button>
    <pre class="error-message">${state.errorText}</pre>
</div>
